*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.container {
  max-width: 320px;
  /* min-width: 1158px; */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  /* overflow: auto; */
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
  padding-left: 0;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #404bbf;
}
a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  font-family: "Roboto";
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

ul {
  list-style-type: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------- ---------------header---------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}

.web {
  font-family: "Raleway", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-mob-menu {
  fill: #2f2f37;
}
.nav-list {
  display: none;
}

.nav-list-item {
}

.address {
  display: none;
}

.address-item {
}

.header-mob-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}
/* header mob ended */

.modal-mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfcfc;
  padding: 24px 24px 40px 16px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-mob-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-tel-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-tel-close-btn:focus {
  background-color: #404bbf;
}

.tel-close-btn {
  fill: #2e2f42;
}
.tel-close-btn:hover {
  fill: #e5e5e5;
}

.mob-item li {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-item li:first-child {
  color: #404bbf;
}
.mob-item li:not(:last-child) {
  margin-bottom: 40px;
}

.mob-item li:hover,
.mob-item li:focus {
  color: #404bbf;
}
.mob-item li:active {
  color: #404bbf;
}

.modal-botton {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.modal-mob-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mob-link:focus {
  color: #404bbf;
}
.mob-list-link {
  display: flex;
  align-items: center;
  gap: 40px;
}
.mob-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: calc((100% - 120px) / 4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-link:focus {
  background-color: #404bbf;
}
.mob-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-link:focus {
  background-color: #404bbf;
}
/* -----------------main page-------------- */

.effect {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/background-mob-1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .effect {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/background-mob-2x.jpg);
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  max-width: 216px;
  letter-spacing: 0.02em;
  margin: 0 auto;
  color: #fff;
}
.btn {
  display: block;
  margin-top: 72px;
  /* margin-top: 48px; */
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn:hover {
  background: #404bbf;
}

/*------------------features-------------------  */
.features {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.f-list {
  display: block;
}
.f-list li {
  margin-bottom: 72px;
}
.f-list li:last-child {
  margin-bottom: 0;
}
.f-item {
}
.features-images {
  display: none;
}

.icon {
}

.f-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.f-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------------------our team -------------------  */
.our-team {
  padding: 96px 0;
  background: #f4f4fd;
}

.t-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.t-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.t-item {
  /* width: calc((100% - 3 * 24px) / 4); */
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-image {
}

.description {
  text-align: center;
  padding: 32px 0;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  color: #434455;
  margin-bottom: 8px;
}

.list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.list-link-item {
  width: calc((100% - 75px) / 4);
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.our-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-media {
  fill: #f4f4fd;
}
.our-team-link:hover,
.our-team-link:focus {
  background-color: #404bbf;
}
/* ---------------portfolio------------- */

.portfolio {
  padding: 96px 0;
  /* padding: 120px 0; */
}

.portfolio-name {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.oppoturnity {
  display: block;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.oppoturnity:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.port-name {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.opportunity-text {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.port-text {
  color: #434455;
}
.opportunity-wrap-text {
  position: relative;
  overflow: hidden;
}
.wrap-text {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  padding: 40px 32px;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.oppoturnity:hover .wrap-text {
  transform: translateY(0);
}

/* ------------------------footer------------------- */
.footer-effect {
  padding: 96px 0;
  background-color: #2e2f42;
  /* padding: 100px 0; */
}
.footer-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 72px;
  /* justify-content: space-between; */
  /* display: flex;
  align-items: baseline; */
}
.footer-item-link {
  display: flex;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.web-footer {
  /* display: inline-block; */
  /* margin-bottom: 16px; */
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  align-items: center;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /* width: 264px; */
}

.footer-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  /* margin-bottom: 16px; */
}
.footer-link {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  /* align-items: baseline; */
  /* margin-right: 80px; */
}

.footer-list-link {
  display: flex;
  gap: 16px;
}

.footer-item-link {
  width: calc((100% - 3 * 16px) / 4);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.footer-link-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-link:hover,
.footer-link-link:focus {
  background-color: #31d0aa;
}

.footer-social-media {
  fill: #f4f4fd;
}
.form-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* gap: 24px; */
  justify-content: center;
  align-items: center;
}
.footer-third-part {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  /* margin-bottom: 16px; */
}
.subscribe-send {
}
.form-email {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  color: #fff;
  outline: transparent;
  opacity: 0.3;
}

.form-email::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  outline: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  fill: #fff;
  color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn-svg {
  margin-left: 16px;
}
.subscribe-btn:hover {
  background-color: #404bbf;
}

/* -------------------------------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-svg {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .close-svg,
.modal-close-btn:focus .close-svg {
  fill: #ffffff;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 361px;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}
.input-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  min-width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.input-text:focus {
  border-color: #4d5ae5;
}
.input-text:focus + .modal-user-svg {
  fill: #4d5ae5;
}

.label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.svg-into {
  position: relative;
}
.modal-user-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
  display: block;
  resize: none;
  min-height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
  margin-bottom: 16px;
}

.textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
}

.checkbox {
  margin-bottom: 24px;
}
.privacy-checkbox {
}
.privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-agree-text {
  text-decoration: underline;
  color: #4d5ae5;
}
.agree-svg {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-checkbox:checked + .privacy-text .agree-svg {
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf;
}

.modal-btn {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-brn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-mob-btn {
    display: none;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .web {
    display: flex;
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .nav-item-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  .studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .studio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    background: #404bbf;
    border-radius: 2px;
    height: 4px;
  }

  .address {
    display: flex;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: 12px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .effect {
    padding: 112px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/background-tab-1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .effect {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet/background-tab-2x.jpg);
    }
  }
  .title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .btn {
    margin-top: 36px;
  }
  .f-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }
  .f-item {
    width: calc((100% - 24px) / 2);
  }

  .team-container {
    width: 584px;
  }
  .t-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
  }
  .t-item {
    width: calc((100% -24px) / 2);
  }
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .oppoturnity {
    width: calc((100% - 24px) / 2);
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    padding-left: 108px;
    flex-wrap: wrap;
    gap: 0;
  }
  .footer {
    display: inline-block;
    margin-right: 24px;
  }
  .web-footer {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-text {
    width: 265px;
  }
  .footer-link {
    align-items: baseline;
  }
  .footer-third-part {
    align-items: flex-start;
    margin-top: 72px;
  }
  .form-footer {
    flex-direction: row;
    gap: 24px;
  }
}

/* s */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .web {
    margin-right: 76px;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .address {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .effect {
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-people.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    background-size: cover;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .effect {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .btn {
    margin-top: 48px;
  }
  .features {
    padding: 120px 0;
  }
  .features-images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .f-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .f-list li {
    margin-bottom: 0;
  }
  .f-item {
    width: calc((100% - 72px) / 4);
  }
  .f-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
  .f-text {
    font-weight: 400;
  }
  .team-container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .our-team {
    padding: 120px 0;
  }
  .t-list {
    flex-wrap: nowrap;
  }
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .oppoturnity {
    width: calc((100% - 2 * 24px) / 3);
    box-shadow: none;
  }
  .footer-effect {
    padding: 100px 0;
  }
  .footer {
    margin-right: 120px;
  }
  .footer-link {
    margin-right: 80px;
  }
  .footer-third-part {
    margin-top: 0;
  }
  .form-email {
    opacity: 1;
  }
}
